@using HammadBroker.Model.DTO
@using HammadBroker.Model.Entities
@using HammadBroker.Model
@model BuildingsPaginated
@{
	ViewData["Title"] = "العقارات";
	bool isSystem = User.IsInRole(Role.System);
}

<div class="card mb-1">
	<h5 class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#searchForm" aria-expanded="false" aria-controls="searchForm">البحث</h5>
	<div id="searchForm" class="card-body collapse">
		<form method="get" asp-area="Admin" asp-controller="Buildings" asp-action="Index">
			<div class="form-floating mb-1">
				<input class="form-control" name="@nameof(BuildingsPaginated.PaginationModel.Search)" asp-for="PaginationModel.Search" placeholder="@Html.DisplayNameFor(e => Model.PaginationModel.Search)" />
				<label class="form-label" asp-for="PaginationModel.Search"></label>
			</div>
			<div class="form-floating mb-1">
				<select class="form-select" name="@nameof(BuildingsPaginated.PaginationModel.BuildingType)" asp-for="PaginationModel.BuildingType" asp-items="Html.GetEnumSelectList<BuildingType>()" placeholder="@Html.DisplayNameFor(e => Model.PaginationModel.BuildingType)">
					<option value=""></option>
				</select>
				<label class="form-label" asp-for="PaginationModel.BuildingType"></label>
			</div>
			<div class="form-floating mb-1">
				<select class="form-select" name="@nameof(BuildingsPaginated.PaginationModel.FinishingType)" asp-for="PaginationModel.FinishingType" asp-items="Html.GetEnumSelectList<FinishingType>()" placeholder="@Html.DisplayNameFor(e => Model.PaginationModel.FinishingType)">
					<option value=""></option>
				</select>
				<label class="form-label" asp-for="PaginationModel.FinishingType"></label>
			</div>
			<div class="input-group form-floating mb-1">
				<input class="form-control" name="@nameof(BuildingsPaginated.PaginationModel.Floor)" asp-for="PaginationModel.Floor" placeholder="@Html.DisplayNameFor(e => Model.PaginationModel.Floor)" />
				<label class="form-label" asp-for="PaginationModel.Floor"></label>
				<span class="input-group-text">@Html.DisplayNameFor(e => Model.PaginationModel.MaxFloor)</span>
				<input class="form-control" name="@nameof(BuildingsPaginated.PaginationModel.MaxFloor)" asp-for="PaginationModel.MaxFloor" />
			</div>
			<div class="input-group form-floating mb-1">
				<input class="form-control" name="@nameof(BuildingsPaginated.PaginationModel.Rooms)" asp-for="PaginationModel.Rooms" placeholder="@Html.DisplayNameFor(e => Model.PaginationModel.Rooms)" />
				<label class="form-label" asp-for="PaginationModel.Rooms"></label>
				<span class="input-group-text">@Html.DisplayNameFor(e => Model.PaginationModel.MaxRooms)</span>
				<input class="form-control" name="@nameof(BuildingsPaginated.PaginationModel.MaxRooms)" asp-for="PaginationModel.MaxRooms" />
			</div>
			<div class="input-group form-floating mb-1">
				<input class="form-control" name="@nameof(BuildingsPaginated.PaginationModel.Bathrooms)" asp-for="PaginationModel.Bathrooms" placeholder="@Html.DisplayNameFor(e => Model.PaginationModel.Bathrooms)" />
				<label class="form-label" asp-for="PaginationModel.Bathrooms"></label>
				<span class="input-group-text">@Html.DisplayNameFor(e => Model.PaginationModel.MaxBathrooms)</span>
				<input class="form-control" name="@nameof(BuildingsPaginated.PaginationModel.MaxBathrooms)" asp-for="PaginationModel.MaxBathrooms" />
			</div>
			<div class="input-group form-floating mb-1">
				<input class="form-control" name="@nameof(BuildingsPaginated.PaginationModel.Area)" asp-for="PaginationModel.Area" placeholder="@Html.DisplayNameFor(e => Model.PaginationModel.Area)" />
				<label class="form-label" asp-for="PaginationModel.Area"></label>
				<span class="input-group-text">@Html.DisplayNameFor(e => Model.PaginationModel.MaxArea)</span>
				<input class="form-control" name="@nameof(BuildingsPaginated.PaginationModel.MaxArea)" asp-for="PaginationModel.MaxArea" />
			</div>
			<div class="form-floating mb-1">
				<select class="form-select" name="@nameof(BuildingsPaginated.PaginationModel.CountryCode)" asp-for="PaginationModel.CountryCode" asp-items="Model.PaginationModel.Countries.Select(e => new SelectListItem(e.Name, e.Id, e.Id == Model.PaginationModel.CountryCode))"
						onchange="populateCities(event.target.value)">
					<option value=""></option>
				</select>
				<label class="form-label" asp-for="PaginationModel.CountryCode"></label>
			</div>
			<div class="form-floating mb-1">
				<select class="form-select" name="@nameof(BuildingsPaginated.PaginationModel.CityId)" asp-for="PaginationModel.CityId" asp-items="Model.PaginationModel.Cities.Select(e => new SelectListItem(e.Name, e.Id.ToString(), e.Id == Model.PaginationModel.CityId))">
					<option value=""></option>
				</select>
				<label class="form-label" asp-for="PaginationModel.CityId"></label>
			</div>
			<div class="mb-1">
				<button type="submit" class="btn btn-outline-primary border-0"><span class="fa fa-magnifying-glass"></span></button>
			</div>
		</form>
	</div>
</div>
<div class="row mb-1">
	<div class="col-12">
		<a asp-area="Admin" asp-controller="Buildings" asp-action="Add" class="btn btn-outline-primary border-0"><i class="fa fa-plus"></i></a>
	</div>
</div>
<div class="row table-responsive">
	<table class="table table-borderless">
		<thead>
		<tr>
			@if (isSystem)
			{
				<th scope="col"></th>
			}
			<th scope="col"></th>
			<th scope="col">@Html.DisplayNameForInnerType((BuildingForList e) => e.Name)</th>
			<th scope="col">@Html.DisplayNameForInnerType((BuildingForList e) => e.BuildingType)</th>
			<th scope="col">@Html.DisplayNameForInnerType((BuildingForList e) => e.FinishingType)</th>
		</tr>
		</thead>
		<tbody>
		@foreach (BuildingForList building in Model.Result)
		{
			<tr>
				@if (isSystem)
				{
					<th scope="row">
						<a class="btn btn-outline-primary border-0 mb-1" asp-area="Admin" asp-action="Edit" asp-route-id="@building.Id"><i class="fa fa-pen"></i></a>
						<a class="btn btn-outline-danger border-0 mb-1" onclick="JavaScript:deleteBuilding(@building.Id, '@building.Name');"><i class="fa fa-xmark"></i></a>
					</th>
				}
				<td><img-asset src="@building.ImageUrl" readonly imageclass="img-fluid img-list rounded mx-auto d-block"/></td>
				<td>@building.Name</td>
				<td>@building.BuildingType.GetDisplayName()</td>
				<td>@building.FinishingType?.GetDisplayName()</td>
			</tr>
		}
		</tbody>
	</table>
</div>
<partial name="_PaginationPartial" model="Model.Pagination" />

@section scripts
{
	<script type="text/javascript">
		async function populateCities(countryCode) {
			const citiesDropDown = $("#@nameof(Model.PaginationModel)_@nameof(Model.PaginationModel.CityId)");
			citiesDropDown.empty();
			if (!countryCode) return;

			try {
				const url = `@Url.Action("List", "Cities", new
									 {
										 area = "Admin"
									 }, Context.Request.Scheme)?countryCode=${encodeURIComponent(countryCode)}`;
				const response = await fetch(url);

				if (!response.ok) {
					const isJson = response.headers.get('content-type')?.includes('application/json');
					const data = isJson && await response.json();
					const error = (data && data.message) || response.status;
					throw error;
				}

				const cities = await response.json();
				citiesDropDown.append("<option value=''></option>");

				for (const city of cities) {
					citiesDropDown.append(`<option value='${city.id}'>${city.name}</option>`);
				}
			} catch (e) {
				alert(e.message || e);
			}
		}

		async function deleteBuilding(id, name) {
			if (!confirm(`هل تريد حذف المبنى '${name}'?`)) return;

			try {
				const response = await fetch(`@Url.Action("Delete", "Buildings", null, Context.Request.Scheme)?id=${id}`, { method: "DELETE" });

				if (!response.ok) {
					const isJson = response.headers.get('content-type')?.includes('application/json');
					const data = isJson && await response.json();
					const error = (data && data.message) || response.status;
					throw error;
				}
				
				location.reload();
			} catch (e) {
				alert(e.message || e);
			}
		}
	</script>
}