@page
@using Microsoft.AspNetCore.Authentication
@model HammadBroker.Web.Areas.Identity.Pages.Account.LoginModel

@{
	ViewData["Title"] = "تسجيل الدخول";
}

<div class="row justify-content-center">
	<div class="col-6">
		<section>
			<h5>@ViewData["Title"]</h5>
			<form id="account" method="post">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating">
					<input asp-for="Input.Email" name="@nameof(Model.Input.Email)" class="form-control" autocomplete="username" aria-required="true" />
					<label asp-for="Input.Email" class="form-label"></label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.Password" name="@nameof(Model.Input.Password)" class="form-control" autocomplete="current-password" aria-required="true" />
					<label asp-for="Input.Password" class="form-label"></label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<div class="form-control border-0 form-check form-switch">
						<input asp-for="Input.RememberMe" name="@nameof(Model.Input.RememberMe)" type="checkbox" role="switch" class="form-check-input" />
					</div>
					<label asp-for="Input.RememberMe"></label>
				</div>
				<div>
					<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-outline-primary">تسجيل الدخول</button>
				</div>
				<div>
					<p>
						<a id="forgot-password" asp-page="./ForgotPassword">نسيت كلمة المرور؟</a>
					</p>
					@*<p>
						<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">سجل كمستخدم جديد</a>
					</p>*@
					<p>
						<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">إعادة إرسال تأكيد البريد الإلكتروني</a>
					</p>
				</div>
			</form>
		</section>
	</div>
	@if ((Model.ExternalLogins?.Count ?? 0) > 0)
	{
		<div class="col-6">
			<section>
				<h5>تسجيل الدخول باستخدام جهة خارجية</h5>
				<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
					<div>
						<p>
							@foreach (AuthenticationScheme provider in Model.ExternalLogins)
							{
								<button type="submit" class="btn btn-outline-primary border-0" name="provider" value="@provider.Name" title="تسجيل الدخول الى حساب @provider.DisplayName">@provider.DisplayName</button>
							}
						</p>
					</div>
				</form>
			</section>
		</div>
	}
</div>

@section Scripts {
	<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
