@page
@using Microsoft.AspNetCore.Authentication
@model HammadBroker.Web.Areas.Identity.Pages.Account.LoginModel

@{
	ViewData["Title"] = "تسجيل الدخول";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
	<div class="col-md-6">
		<section>
			<form id="account" method="post">
				<h2>استخدم حساب محلي لتسجيل الدخول.</h2>
				<hr />
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-floating">
					<input asp-for="Input.Email" name="@nameof(Model.Input.Email)" class="form-control" autocomplete="username" aria-required="true" />
					<label asp-for="Input.Email" class="form-label"></label>
					<span asp-validation-for="Input.Email" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<input asp-for="Input.Password" name="@nameof(Model.Input.Password)" class="form-control" autocomplete="current-password" aria-required="true" />
					<label asp-for="Input.Password" class="form-label"></label>
					<span asp-validation-for="Input.Password" class="text-danger"></span>
				</div>
				<div class="form-floating">
					<div class="form-control border-0 form-check form-switch">
						<input asp-for="Input.RememberMe" name="@nameof(Model.Input.RememberMe)" type="checkbox" role="switch" class="form-check-input" />
					</div>
					<label asp-for="Input.RememberMe"></label>
				</div>
				<div>
					<button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">تسجيل الدخول</button>
				</div>
				<div>
					<p>
						<a id="forgot-password" asp-page="./ForgotPassword">نسيت كلمة المرور؟</a>
					</p>
					@*<p>
						<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">سجل كمستخدم جديد</a>
					</p>*@
					<p>
						<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">إعادة إرسال تأكيد البريد الإلكتروني</a>
					</p>
				</div>
			</form>
		</section>
	</div>
	<div class="col-md-5 col-md-offset-1">
		<section>
			<h3>استخدم خدمة أخرى لتسجيل الدخول.</h3>
			<hr />
			@{
				if ((Model.ExternalLogins?.Count ?? 0) == 0)
				{
					<div>
						<p>
							لا توجد خدمات مصادقة خارجية مكونة. انظر الى هذا <a href="https://go.microsoft.com/fwlink/?LinkID=532715">المقال
							حول إعداد تطبيق موقع الويب هذا لدعم تسجيل الدخول عبر الخدمات الخارجية
							</a>.
						</p>
					</div>
				}
				else
				{
					<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
						<div>
							<p>
								@foreach (AuthenticationScheme provider in Model.ExternalLogins)
								{
									<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="تسجيل الدخول الى حساب @provider.DisplayName">@provider.DisplayName</button>
								}
							</p>
						</div>
					</form>
				}
			}
		</section>
	</div>
</div>

@section Scripts {
	<partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}
