@model HammadBroker.Model.DTO.CityToUpdate

@{
	ViewData["Title"] = "إضافة مدينة";
}

<form asp-area="Admin" asp-controller="Cities" asp-action="Add" Method="post" enctype="multipart/form-data">
	<div id="countryForm" v-scope class="card card-body mt-3">
		<div asp-validation-summary="ModelOnly"></div>
		<div v-if="errors && errors.length" :class="['alert', 'alert-danger', 'alert-dismissible', 'fade', 'show']" role="alert" v-for="error of errors">
			{{ error }}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div class="mb-1">
			<input type="hidden" asp-for="CountryCode" :value="countryCode" />
			<autocomplete name="@nameof(Model.CountryCode)" class="w-100" input-class="w-100" :suggestions="countries"
						option-label="name" placeholder="@Html.DisplayNameFor(e => e.CountryCode)" 
						title="@Html.DisplayNameFor(e => e.CountryCode)" :min-length="0" 
						v-model="selectedCountry" data-key="id" dropdown v-on:complete="fetchCountries($event.query)">
			</autocomplete>
		</div>
		<div class="mb-1">
			<input class="form-control" asp-for="Name" placeholder="@Html.DisplayNameFor(e => e.Name)" title="@Html.DisplayNameFor(e => e.Name)" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="my-1">
			<button type="submit" class="btn btn-primary border-0 me-1">إضافة</button>
			<a class="btn btn-outline-primary border-0 me-1" asp-area="Admin" asp-controller="Cities" asp-action="Index">الغاء</a>
		</div>
	</div>
</form>

@section scripts
{
	<script type="text/javascript" defer>
		const { createApp, nextTick } = Vue;

		const DELAY = 300;

		const _fetchCountries = _.debounce(async (self, search) => {
			self.errors.length = 0;
			self.loading = true;
			search = search && search.trim();
			
			try {
				const url = `@Url.Action("Countries", "Cities", new
							 {
								 area = "Admin"
							 })`;
				const params = new URLSearchParams({
					countryCode: self.countryCode,
					search: search ? encodeURIComponent(search) : ""
				});
				const response = await window.fetch(url + "?" + params);

				if (!response.ok) {
					const error = await getResponseError(response);
					throw error;
				}

				self.countries = await response.json();
				if (self.countryCode) self.selectedCountry = self.countries.find(e => e.id === self.countryCode);
			} catch (e) {
				self.selectedCountry = null;
				self.countries = [];
				alert(e.message || e);
			} finally {
				this.loading = false;
			}
		}, DELAY, { leading: true });

		createApp({
			data() {
				return {
					loading: false,
					selectedCountry: null,
					countryCode: "@Model.CountryCode",
					countries: [],
					errors: []
				}
			},
			watch: {
				selectedCountry(newValue) {
					if (newValue && newValue.id)
						this.countryCode = newValue.id;
					else
						this.countryCode = "";
				}
			},
			methods: {
				async fetchData() {
					await this.fetchCountries(null);
				},
				async fetchCountries(search) {
					_fetchCountries(this, search);
				}
			},
			mounted() {
				this.fetchData();
			}
		})
		.use(primevue.config.default)
		.component("autocomplete", primevue.autocomplete)
		.mount("#countryForm");
	</script>
}