@using HammadBroker.Model.DTO
@using HammadBroker.Model.Entities
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery
@model CitiesPaginated
@{
	ViewData["Title"] = "المدن";
	bool isSystem = User.IsInRole(Role.System);
	bool showCountry = string.IsNullOrEmpty(Model.Pagination.CountryCode);
}

<div class="card mb-1">
	<h5 class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#searchForm" aria-expanded="false" aria-controls="searchForm">البحث</h5>
	<div id="searchForm" class="card-body collapse">
		<form method="get" asp-area="Admin" asp-controller="Cities" asp-action="Index">
			<div class="row g-0 mb-1">
				<div class="col-sm-12 col-md-6">
					<select class="form-select" id="@nameof(CitiesPaginated.Pagination.CountryCode)" name="@nameof(CitiesPaginated.Pagination.CountryCode)" asp-for="Pagination.CountryCode" asp-items="Model.Countries.Select(e => new SelectListItem(e.Name, e.Id, e.Id == Model.Pagination.CountryCode))">
						<option value="">@Html.DisplayNameFor(e => e.Pagination.CountryCode)</option>
					</select>
				</div>
				<div class="col-sm-12 col-md-6">
					<input class="form-control" name="@nameof(CitiesPaginated.Pagination.Search)" asp-for="Pagination.Search" placeholder="@Html.DisplayNameFor(e => e.Pagination.Search)" />
				</div>
			</div>
			<div class="my-1">
				<button type="submit" class="btn btn-outline-secondary btn-sm me-1"><span class="fa fa-magnifying-glass"></span></button>
				<button type="reset" class="btn btn-outline-secondary btn-sm border-0"><span class="fa fa-times"></span></button>
			</div>
		</form>
	</div>
</div>
<div class="row mb-1">
	<div class="col-12">
		<a href="#" onclick="JavaScript:addCity();" class="btn btn-outline-primary border-0"><i class="fa fa-plus"></i> إضافة مدينة</a>
	</div>
</div>
<div class="row table-responsive">
	<table class="table table-borderless table-hover">
		<thead>
			<tr>
				@if (isSystem)
				{
					<th scope="col"></th>
				}
				@if (showCountry)
				{
					<th scope="col">@Html.DisplayNameForInnerType((CityForList e) => e.CountryCode)</th>
				}
				<th scope="col">@Html.DisplayNameForInnerType((CityForList e) => e.Name)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (CityForList city in Model.Result)
			{
				<tr>
					@if (isSystem)
					{
						<th scope="row">
							<a class="btn btn-outline-primary btn-sm border-0 mb-1" asp-area="Admin" asp-action="Edit" asp-route-id="@city.Id"><i class="fa fa-pen"></i></a>
							<a class="btn btn-outline-danger btn-sm border-0 mb-1" onclick="JavaScript:deleteCity(@city.Id, '@city.Name');"><i class="fa fa-xmark"></i></a>
						</th>
					}
					@if (showCountry)
					{
						<td>@city.CountryCode</td>
					}
					<td>@city.Name</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<partial name="_PaginationPartial" model="Model.Pagination" />

@section scripts
	{
	<script type="text/javascript">
		function addCity() {
			const countryCode = $("#@nameof(CitiesPaginated.Pagination.CountryCode)").val();
			const url = '@Url.Action("Add", "Cities", new
			             {
							 area = "Admin"
			             })';
			const params = new URLSearchParams({
				countryCode
			});
			window.location.href = url + '?' + params.toString();
		}

		async function deleteCity(id, name) {
			if (!confirm(`هل تريد حذف مدينة '${name}'?`)) return;

			try {
				const url = '@Url.Action("Delete", "Cities", new
			             {
							 area = "Admin"
			             })';
				const formData = new FormData();
				formData.append("id", id);
				await fetch(url,
					{
						method: "post",
						body: formData,
						headers: {
							RequestVerificationToken: "@Antiforgery.GetAndStoreTokens(Context).RequestToken"
						},
						credentials: "same-origin"
					});
				window.location.reload();
			} catch (e) {
				alert(ex.message || ex);
			} 
		}
	</script>
}