@using HammadBroker.Model.DTO
@using HammadBroker.Model.Entities
@model CitiesPaginated
@{
	ViewData["Title"] = "المدن";
	bool isSystem = User.IsInRole(Role.System);
	bool showCountry = string.IsNullOrEmpty(Model.Pagination.CountryCode);
}

<div class="card mb-1">
	<h5 class="card-header collapsed" data-bs-toggle="collapse" data-bs-target="#searchForm" aria-expanded="false" aria-controls="searchForm">البحث</h5>
	<div id="searchForm" class="card-body collapse">
		<form method="get" asp-area="Admin" asp-controller="Cities" asp-action="Index">
			<div class="form-floating mb-1">
				<select class="form-select" name="@nameof(CitiesPaginated.Pagination.CountryCode)" asp-for="Pagination.CountryCode" asp-items="Model.Countries.Select(e => new SelectListItem(e.Name, e.Id, e.Id == Model.Pagination.CountryCode))">
					<option value=""></option>
				</select>
				<label class="form-label" asp-for="Pagination.CountryCode"></label>
			</div>
			<div class="form-floating mb-1">
				<input class="form-control" name="@nameof(CitiesPaginated.Pagination.Search)" asp-for="Pagination.Search" placeholder="@Html.DisplayNameFor(e => Model.Pagination.Search)" />
				<label class="form-label" asp-for="Pagination.Search"></label>
			</div>
			<div class="mb-1">
				<button type="submit" class="btn btn-outline-primary border-0"><span class="fa fa-magnifying-glass"></span></button>
			</div>
		</form>
	</div>
</div>
<div class="row mb-1">
	<div class="col-12">
		<a href="#" onclick="JavaScript:addCity();" class="btn btn-outline-primary border-0"><i class="fa fa-plus"></i></a>
	</div>
</div>
<div class="row table-responsive">
	<table class="table table-borderless table-hover">
		<thead>
			<tr>
				@if (isSystem)
				{
					<th scope="col"></th>
				}
				@if (showCountry)
				{
					<th scope="col">@Html.DisplayNameForInnerType((CityForList e) => e.CountryCode)</th>
				}
				<th scope="col">@Html.DisplayNameForInnerType((CityForList e) => e.Name)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (CityForList city in Model.Result)
			{
				<tr>
					@if (isSystem)
					{
						<th scope="row">
							<a class="btn btn-outline-primary border-0 mb-1" asp-area="Admin" asp-action="Edit" asp-route-id="@city.Id"><i class="fa fa-pen"></i></a>
							<a class="btn btn-outline-danger border-0 mb-1" onclick="JavaScript:deleteCity(@city.Id, '@city.Name');"><i class="fa fa-xmark"></i></a>
						</th>
					}
					@if (showCountry)
					{
						<td>@city.CountryCode</td>
					}
					<td>@city.Name</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<partial name="_PaginationPartial" model="Model.Pagination" />

@section scripts
	{
	<script type="text/javascript">
		function addCity() {
			const url = '@Url.Action("Add", "Cities", null, Context.Request.Scheme)';
			const params = new URLSearchParams({
				countryCode: document.getElementById("CountryCode").value
			});
			window.location.href = url + '?' + params.toString();
		}

		function deleteCity(id, name) {
			if (!confirm(`هل تريد حذف مدينة '${name}'?`)) return;
			const url = '@Url.Action("Delete", "Cities", null, Context.Request.Scheme)';
			const params = new URLSearchParams({
				id
			});
			fetch(url + '?' + params.toString(), { method: "DELETE" })
				.then(async response => {
					if (!response.ok) {
						const isJson = response.headers.get('content-type')?.includes('application/json');
						const data = isJson && await response.json();
						const error = (data && data.message) || response.status;
						alert(error);
					}
					location.reload();
				});
		}
	</script>
}