@using HammadBroker.Model.DTO
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery
@model CitiesPaginated

@{
	ViewData["Title"] = "المدن";
	bool hasSearch = Model.Pagination.HasSearch;
}

<div class="card mb-1">
	<h5 class="card-header @(hasSearch ? null : "collapsed")" data-bs-toggle="collapse" data-bs-target="#searchForm" 
		aria-expanded="@(hasSearch ? "true" : "false")" aria-controls="searchForm" role="button">البحث</h5>
	<div id="searchForm" v-scope class="card-body @(hasSearch ? null : "collapse")">
		<form method="get" asp-area="Admin" asp-controller="Cities" asp-action="Index">
			<div class="row g-0 mb-1">
				<div class="col-12">
					<label asp-for="Pagination.Search" class="form-label"></label>
					<input class="form-control" asp-for="Pagination.Search" />
				</div>
			</div>
			<div class="row g-0 px-2 my-1">
				<button type="submit" class="btn btn-outline-secondary btn-sm me-1"><span class="fa fa-magnifying-glass"></span></button>
				<button type="reset" class="btn btn-outline-secondary btn-sm border-0" v-on:click="onReset"><span class="fa fa-times"></span></button>
			</div>
		</form>
	</div>
</div>

<div class="row mb-1">
	<div class="col-12">
		<a asp-area="Admin" asp-controller="Cities" asp-action="Add" class="btn btn-outline-primary border-0"><i class="fa fa-plus"></i> إضافة مدينة</a>
	</div>
</div>
<div class="table-responsive">
	<table class="table table-borderless table-hover">
		<thead>
			<tr>
				<th scope="col" class="auto-cell"></th>
				<th scope="col">@Html.DisplayNameForInnerType((CityForList e) => e.Name)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (CityForList city in Model.Result)
			{
				<tr>
					<th scope="row" class="text-nowrap">
						<a class="btn btn-outline-secondary btn-sm border-0 mb-1" asp-area="Admin" asp-controller="Cities" asp-action="Edit" asp-route-id="@city.Id"><i class="fa fa-pen"></i></a>
						<a class="btn btn-outline-danger btn-sm border-0 mb-1" onclick="JavaScript:deleteCity(@city.Id, '@city.Name');"><i class="fa fa-xmark"></i></a>
					</th>
					<td>@Html.DisplayFor(e => city.Name)</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<partial name="_PaginationPartial" model="Model.Pagination" />

@section scripts
{
	<script type="text/javascript">
		async function deleteCity(id, name) {
			if (!confirm(`هل تريد حذف مدينة '${name}'?`)) return;

			try {
				const url = '@Url.Action("Delete", "Cities", new
			             {
							 area = "Admin"
			             })';
				const formData = new FormData();
				formData.append("id", id);
				await fetch(url,
					{
						method: "post",
						body: formData,
						headers: {
							RequestVerificationToken: "@Antiforgery.GetAndStoreTokens(Context).RequestToken"
						},
						credentials: "same-origin"
					});
				window.location.reload();
			} catch (e) {
				alert(ex.message || ex);
			} 
		}
	</script>
}